#competences {
    background-color: rgb(223, 202, 240);
    padding-bottom: 3em;
}

.titre-skills {
    font-size: 3em;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 1.5em;
    background-color: rgb(223, 202, 240);
    color: black;
}

.software, .front, .back {
    background-color: rgb(203, 184, 218);
    box-shadow: 0 0 0.6em rgb(23, 17, 54);
    margin: 3em 10%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.zoom {
    padding: 1em 1em;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image img {
    transition: all 0.5s ease;
}

.image:hover img {
    scale: 1.15;
}

.types_langages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 202, 240);
    box-shadow: 0 0 0.5em rgb(51, 51, 53);
    border-radius: 20px;
    margin: 0 20%;
}

.Cat-langages-W, .Cat-langages-D, .Cat-langages-B {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    cursor: pointer;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.type_selectionne {
    background-color: rgb(23, 17, 54);
    color: white;
    border-radius: 20px;
}

.type_non_selectionne {
    display: none;
}

.apparition {
    opacity: 0;
    transform: translateY(-10px);
}

.apparition-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
}

.titre_types {
    display: none;

}

@media screen and (max-width:1100px) {

    #competences {
        width: 100vw;
    }

}

@media screen and (max-width:900px) {
    
    .types_langages {
        display:none;
    }

    .titre_types {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: rgb(37, 27, 87);
        font-weight: 900;
    }

    .software, .front, .back {
        display: flex;
    }
}