#contact {
    background-color: var(--pink-background);
    padding-bottom: 100px;
}

.title-contacts {
    color: var(--blue-background);
}

.contact-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.contact-block a {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--blockpink-background);
    filter: drop-shadow(0px 0px 10px rgba(28, 28, 51, 0.24));
    transition: width 0.5s ease-in-out, background-color 0.3s ease-in-out;
    width: 113px;
}

.contact-block a:hover {
    width: var(--size) !important;
    background-color: rgb(226, 211, 237);
}

.block-git {
    width: 110px !important;
}

.contact-block a span {
    font-size: 25px;
    white-space: pre;
    color: var(--blue-background);
    margin-top: 8px;
    overflow: hidden;
}

.contact-block img {
    padding: 20px;
}

@media screen and (max-width: 850px) {
    .contact-block {
        flex-direction: column;
        align-items: center;
    }
}