#debut {
    padding: 30vh 30vh 30vh 20vh;
    background-color: rgb(23, 17, 54);
    color: rgb(67, 123, 220);
    display: flex;
    flex-direction: column;
}

.bienvenue, .pitch {
    font-size: 1.4em;
}

.nom {
    font-size: 3em;
}

.statut {
    font-size: 4em;
}

.btn-commencer {
    margin-top: 2em;
    padding: 0.9em;
    width: 10em;
    color: rgb(131, 253, 245);
    background-color: rgb(23, 17, 54);
    font-weight: bold;
    font-size: 1.2em;
    border-style: solid;
    border-color: rgb(131, 253, 245);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.btn-commencer:hover {
    background-color: rgb(131, 253, 245);
    color:rgb(23, 17, 54);
    text-decoration: none;
    transition: all 0.7s ease;
}

#debut a:link {
    color: rgb(131, 253, 245);
}

#debut a:hover {
    text-decoration:underline;
}

#debut a:visited {
    color: rgb(131, 253, 245);
}

#debut a:active {
    opacity: 0.6;
}

.test {
    position: absolute;
    top: 70%;
    left: 45%;
}

.cercle {
    height: 200px; 
    width: 200px; 
    background-color: rgb(131, 253, 245);
    border-radius: 50%;
    filter: blur(300px);
}

/*===================================================*/
/*============    Responsive Design     =============*/
/*===================================================*/

@media screen and (max-width:1200px) {

    .bienvenue, .pitch, .btn-commencer {
        font-size: 1.2em;
    }
    
    .nom {
        font-size: 2.3em;
    }
    
    .statut {
        font-size: 3.3em;
    }
}

@media screen and (max-width:1050px) {

    .nom {
        font-size: 2.5em;
    }
    
    .statut {
        font-size: 3em;
    }

    .pitch, .pitch, .bienvenue {
        font-size: 1.3em;
    }
    
}

/* On commence à voir le haut du mon profil */

@media screen and (max-width:950px) {

    #debut {
        padding-bottom: 30vh;
    }

    .nom {
        font-size: 2.8em;
    }
    
    .statut {
        font-size: 3.3em;
    }

    .pitch, .pitch, .bienvenue {
        font-size: 1.6em;
    }
}

/* On commence à revoir le haut du mon profil */

@media screen and (max-width:850px) {

    #debut {
        padding-bottom: 40vh;
    }

    .nom {
        font-size: 3.2em;
    }
    
    .statut {
        font-size: 3.7em;
    }

    .pitch {
        font-size: 1.5em;
    }

    .btn-commencer, .bienvenue {
        font-size: 1.6em;
    }
}

/* On commence à revoir le haut du mon profil */

@media screen and (max-width:750px) {

    #debut {
        padding-bottom: 50vh;
    }

    .nom {
        font-size: 3.4em;
    }
    
    .statut {
        font-size: 3.9em;
    }

    .pitch {
        font-size: 1.7em;
    }

    .btn-commencer, .bienvenue {
        font-size: 1.8em;
    }
}

/* On commence à revoir le haut du mon profil */

@media screen and (max-width:600px) {

    #debut {
        padding-bottom: 60vh;
    }

    .nom {
        font-size: 3.6em;
        padding: 0.5em 0 0 0;
    }
    
    .statut {
        font-size: 4.1em;
        padding: 0.5em 0;
    }

    .pitch {
        font-size: 1.9em;
    }

    .btn-commencer, .bienvenue {
        font-size: 2em;
    }
}

/* On commence à revoir le haut du mon profil */

@media screen and (max-width:520px) {

    #debut {
        padding-bottom: 70vh;
    }

    .nom {
        font-size: 4.3em;    }
    
    .statut {
        font-size: 4.7em;
    }

    .btn-commencer, .pitch, .bienvenue {
        font-size: 2.2em;
    }
}

/* On commence à revoir le haut du mon profil */

@media screen and (max-width:450px) {

    #debut {
        padding-bottom: 90vh;
    }

    .nom {
        font-size: 4.6em;    }
    
    .statut {
        font-size: 5em;
    }

    .btn-commencer, .pitch, .bienvenue {
        font-size: 2.5em;
    }
}