#debut {
    background-color: rgb(23, 17, 54);
    color: rgb(67, 123, 220);
    position: relative;
    height: 70vh;
    width: 100vw;
    max-width: 100%;
    padding-top: 30vh;
    padding: 30vh 0 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.bienvenue, .pitch {
    font-size: 1.4em;
}

.nom {
    font-size: 3em;
}

.statut {
    font-size: 4em;
    white-space: nowrap;
}

.btn-commencer {
    margin-top: 2em;
    padding: 0.9em;
    width: 10em;
    color: rgb(131, 253, 245);
    background-color: rgb(23, 17, 54);
    font-weight: bold;
    font-size: 1.2em;
    border-style: solid;
    border-color: rgb(131, 253, 245);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.btn-commencer:hover {
    background-color: rgb(131, 253, 245);
    color:rgb(23, 17, 54);
    text-decoration: none;
    transition: all 0.7s ease;
}

#debut a:link {
    color: rgb(131, 253, 245);
}

#debut a:hover {
    text-decoration:underline;
}

#debut a:visited {
    color: rgb(131, 253, 245);
}

#debut a:active {
    opacity: 0.6;
}

.fond {
    position: absolute;
    top: 70vh;
    left: 45vw;
}

.cercle {
    height: 200px; 
    width: 200px; 
    background-color: rgb(131, 253, 245);
    border-radius: 50%;
    filter: blur(220px);
}

/*===================================================*/
/*============    Responsive Design     =============*/
/*===================================================*/

