/*###################################*/
/*          Les expériences          */
/*###################################*/

#experiences {
    background-color: rgb(23, 17, 54);
    padding-bottom: 3em;
}

.titre-experiences {
    font-size: 3em;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 1.5em;
    background-color: rgb(23, 17, 54);
    color: white;
}

.section-experiences {
    display: flex;
    flex-direction: column;
    gap: 70px;
    background-color: rgb(23, 17, 54);
}

.experience {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titre-experience {
    color: aquamarine;
}

.titre-experience-droite {
    text-align: right;
}

.experience_1 img,
.experience_2 img {
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 0 0.6em black;
    transition: all 0.5s ease;
    z-index: 2;
}

.experience_1 img:hover,
.experience_2 img:hover {
    box-shadow: 0 0 1.5em black;
    transition: all 0.5s ease;
}

.logo-github {
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
}

.langues-prog:link,
.lien_experiences:link {
    display: inline-block;
    color: rgb(131, 253, 245);
}

.langues-prog::after,
.lien_experiences::after {
    content: '';
    width: 0px;
    height: 1px;
    margin-top: -4px;
    display: block;
    background: rgb(131, 253, 245);
    transition: .5s;
}

.langues-prog:hover::after,
.lien_experiences:hover::after {
    width: 100%;
}

.langues-prog:visited,
.lien_experiences:visited {
    color: rgb(131, 253, 245);
}

.transition_proj_comp {
    display: block;
    background-color: rgb(23, 17, 54);
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    -webkit-transform: rotate(-4deg) scale(1.2, 1);
    -ms-transform: rotate(-4deg) scale(1.2, 1);
    transform: rotate(-4deg) scale(1.2, 1);
    z-index: 0;
}

.block-transition {
    height: 5em;
    display: flex;
    background-color: rgb(223, 202, 240);
}

.block-transition_3 {
    background-color: rgb(223, 202, 240);
    width: 50%;
}

.block-transition_4 {
    width: 50%;
    background-color: rgb(223, 202, 240);
}

.transition_myself_proj3 {
    height: 5em;
    background-color: rgb(23, 17, 54);
    border-bottom-left-radius: 200%;
}

.transition_myself_proj4 {
    height: 5em;
    background-color: rgb(23, 17, 54);
    border-bottom-right-radius: 200%;
}

.img_experience_responsive {
    display: none;
}

@media screen and (min-width:1950px) {
    .section-experiences {
        padding: 0 20%;
    }
}

@media screen and (max-width:1950px) {
    .section-experiences {
        padding: 0 10%;
    }
}

@media screen and (max-width:1200px) {
    .section-experiences {
        padding: 0 5%;
    }
}

@media screen and (max-width:950px) {

    #projets,
    .block-transition {
        width: 100vw;
    }

    .experience {
        margin: 1em 10% 5em 10%;
        width: 80%;
        box-shadow: 0 0 1em black;
        margin-bottom: 2em;
        border-radius: 30px;
    }

    .titre-experiences {
        font-size: 2.5em;
    }

    .experience:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        border-radius: 30px;
    }

    .experience_1:before {
        background-image: url("../img/experiences/tac_economics_resp.jpg");
    }

    .experience_1 img,
    .experience_2 img {
        display: none;
    }

    .titre-experience {
        text-align: left;
        margin-bottom: 10px;
    }
}