/*###################################*/
/*          Les expériences          */
/*###################################*/

#experiences {
    background-color: rgb(23, 17, 54);
    padding-bottom: 3em;
}

.titre-experiences {
    font-size: 3em;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 1.5em;
    background-color: rgb(23, 17, 54);
    color: white;
}

.p-titre {
    font-size: 2.3em;
    color: white;
}


.exp-g {
    height: 300px;
    border-radius: 30px;
}


.section-experiences {
    background-color: rgb(23, 17, 54);
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    z-index: 0;
}


.experience_g,
.experience_d {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 5em 0;
}

.p-content-gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
}

.p-content-droite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 3;
}

.p-pitch-gauche {
    text-align: justify;
    padding: 1.5em;
    background-color: rgb(52, 38, 116);
    color: rgb(170, 187, 255);
    border-radius: 30px;
    position: relative;
    margin-right: -100px;
    box-shadow: 0 0 0.6em black;
    transition: all 0.5s ease;
}

.p-pitch-droite {
    text-align: justify;
    padding: 1.5em;
    background-color: rgb(52, 38, 116);
    color: rgb(170, 187, 255);
    border-radius: 30px;
    position: relative;
    margin-left: -100px;
    box-shadow: 0 0 0.6em black;
    transition: all 0.5s ease;
}

.titre-experience-gauche p,
.titre-experience-droite p {
    color: aquamarine;
}

.titre-experience-gauche {
    margin-left: 1em;
}

.titre-experience-droite {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.git-lan-g {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
}

.git-lan-d {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em;
}

.langues-prog {
    padding: 0.5em;
}

.experience_1 img {
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 0 0.6em black;
    transition: all 0.5s ease;
    z-index: 2;
}

.experience_1 img:hover,
.p-pitch-gauche:hover,
.p-pitch-droite:hover {
    box-shadow: 0 0 1.5em black;
    transition: all 0.5s ease;
}

.logo-github {
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    padding: 0 0.5em;
}

.section-experience .langues-prog {
    font-size: 1.2em;
}

.langues-prog:link,
.lien_experiences:link {
    display: inline-block;
    color: rgb(131, 253, 245);
}

.langues-prog::after,
.lien_experiences::after {
    content: '';
    width: 0px;
    height: 1px;
    margin-top: -4px;
    display: block;
    background: rgb(131, 253, 245);
    transition: .5s;
}

.langues-prog:hover::after,
.lien_experiences:hover::after {
    width: 100%;
}

.langues-prog:visited,
.lien_experiences:visited {
    color: rgb(131, 253, 245);
}

.transition_proj_comp {
    display: block;
    background-color: rgb(23, 17, 54);
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    -webkit-transform: rotate(-4deg) scale(1.2, 1);
    -ms-transform: rotate(-4deg) scale(1.2, 1);
    transform: rotate(-4deg) scale(1.2, 1);
    z-index: 0;
}

.block-transition {
    height: 5em;
    display: flex;
    background-color: rgb(223, 202, 240);
}

.block-transition_3 {
    background-color: rgb(223, 202, 240);
    width: 50%;
}

.block-transition_4 {
    width: 50%;
    background-color: rgb(223, 202, 240);
}

.transition_myself_proj3 {
    height: 5em;
    background-color: rgb(23, 17, 54);
    border-bottom-left-radius: 200%;
}

.transition_myself_proj4 {
    height: 5em;
    background-color: rgb(23, 17, 54);
    border-bottom-right-radius: 200%;
}

.img_experience_responsive {
    display: none;
}

@media screen and (min-width:1950px) {
    .section-experiences {
        padding: 0 20%;
    }
}

@media screen and (max-width:1950px) {
    .section-experiences {
        padding: 0 10%;
    }
}

@media screen and (max-width:1200px) {
    .section-experiences {
        padding: 0 5%;
    }
}

@media screen and (max-width:950px) {

    #projets,
    .block-transition {
        width: 100vw;
    }

    .experience_g,
    .experience_d {
        margin: 1em 10% 5em 10%;
        width: 80%;
        box-shadow: 0 0 1em black;
        margin-bottom: 2em;
        border-radius: 30px;
    }

    .titre-experiences {
        font-size: 2.5em;
    }

    .experience_1:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        border-radius: 30px;
    }

    .experience_1:before {
        background-image: url("../img/experiences/tac_economics_resp.jpg");
    }

    .experience_1 img {
        display: none;
    }

    .p-pitch-gauche,
    .p-pitch-droite {
        background-color: rgba(255, 255, 255, 0);
        margin: 0;
        color: white;
        box-shadow: none;
        font-weight: 500;
        padding-top: 0;
    }

    .p-pitch-gauche:hover,
    .p-pitch-droite:hover {
        box-shadow: none;
    }

    .p-content-gauche,
    .p-content-droite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .titre-experience-droite,
    .titre-experience-gauche {
        align-items: flex-start;
        padding: 1.5em;
        margin: 0;
        position: relative;
    }

    .git-lan {
        margin: 0 1em;
        font-weight: 600;
        position: relative;
        padding-bottom: 1em;
    }
}