footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 2;
    padding: 5em 5em;
    background-color: rgb(17, 123, 176);
    font-size: 20px;
}

footer span {
    color: var(--white-color);
}

.droit_github {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.github-site {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.github-site:visited {
    color: var(--white-color);
}

.github-site span {
    margin-top: 3px;
}

.logoGithub {
    padding-left: 10px;
}

.github-site:hover {
    filter: opacity(0.6);
}

.thanks {
    text-align: center;
}

@media screen and (max-width:800px) {

    .droit_github {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}