footer {
    padding: 5em 5em;
    background-color: rgb(17, 123, 176);
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thanks {
    text-align: center;
    padding-top: 4em;
}

.github-site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.github-site img {
    padding-left: 0.3em;
}

footer a:link {
    color: white;
    display: inline-block;
}

footer a::after {
    content: '';
    width: 0px;
    height: 1.5px;
    margin-top: -4px;
    display: block;
    background: white;
    transition: .5s;
}

footer a:hover::after {
    width: 100%;
}

footer a:visited {
    color: white;
}

footer p {
    color: rgb(222, 222, 222);
}

@media screen and (max-width:1080px) {

    footer {
        width: 100vw;
        padding: 5em 0;
    }

    .droit_github>p {
        margin-left: 4%;
    }

    .github-site {
        margin-right: 4%;
    }

    .thanks {
        margin: 0 8%;
    }

}

@media screen and (max-width:800px) {

    .droit_github {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .droit_github>p {
        margin: 0;
    }

    .github-site {
        margin: 0;
        padding-top: 4em;
    }

    footer a {
        font-size: 0.9em;
    }
}