#myself {
    position: relative;
    z-index: 1;
    background-color: var(--pink-background);
    padding: 150px 0 200px 0;
}

.title_myself {
    color: var(--blue-background);
}

.studies-block {
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--black-color);
    padding: 0 20%;
}

.profile img {
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(103, 103, 103);
}

.studies {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 20px;
}

.situationNow {
    text-align: justify;
}

.studies_career {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.studies_career article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--blockpink-background);
    border-radius: 25px;
    height: 140px;
    filter: drop-shadow(0px 0px 10px rgba(28, 28, 51, 0.15));
}

.studies_career h4,
.studies_career p {
    text-align: center;
}

.lien_myself a:link {
    color: var(--link-color-backPink);
    display: inline-block;
}

.lien_myself a::after {
    content: '';
    width: 0px;
    height: 2px;
    margin-top: -4px;
    display: block;
    background: var(--link-color-backPink);
    transition: .5s;
}

.lien_myself a:hover::after {
    width: 100%;
}

.lien_myself a:visited {
    color: var(--link-color-backPink);
}

.transition_myself_proj1 {
    height: 5em;
    background-color: var(--pink-background);
    border-bottom-left-radius: 200%;
}

.transition_myself_proj2 {
    height: 5em;
    background-color: var(--pink-background);
    border-bottom-right-radius: 200%;
}

@media screen and (min-width:1950px) {
    .studies-block {
        padding: 0 20%;
    }
}

@media screen and (max-width:1550px) {

    #myself {
        width: 100vw;
    }

    .studies-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .studies {
        gap: 30px;
    }
}

@media screen and (max-width:900px) {

    .profile img {
        width: 300px;
        height: 300px;
    }

    .studies {
        font-size: 20px;
    }

}

@media screen and (max-width:820px) {

    .studies-block {
        padding: 0 10% 50px 10%;
    }

    .studies_career article {
        width: 100%;
    }

    .studies_career {
        flex-direction: column;
    }
}