#myself div {
    display: flex;
    background-color: rgb(223, 202, 240);
    align-items: center;
    color: black;
}

#myself h1 {
    padding-top: 23vh;
    background-color: rgb(223, 202, 240);
}

.titre {
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

.profil {
    padding: 1em;
    padding-left: 6em;
}

.profil img {
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(103, 103, 103);
}

.para1, .para2 {
    text-indent: 20px; 
    padding: 0 2em 1em 2em ;
}

.parcours {
    font-size: 1.2em;
    padding: 1em;
    padding-top: 3em;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
}