nav {
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    z-index: 3;
    transition: all 0.3s ease;
}

nav a {
    color: var(--white-color);
    font-size: 20px;
}

nav.notOnTop {
    background-color: rgb(23 17 54 / 93%);
    backdrop-filter: blur(10px);
    box-shadow: 0px 11px 18px rgb(28 28 51 / 41%);
}

.logo {
    font-size: 35px;
    font-weight: bold;
    margin-top: 8px;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.menu-burger,
.menu-burger-close {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.menu-burger:active,
.menu-burger-close:active {
    transform: scale(1.2);
}

.menu-burger-close {
    position: absolute;
    top: 35px;
    right: 50px;
}

nav a:link {
    color: var(--white-color);
    transition: .4s;
}

nav a:hover {
    color: var(--link-color-backBlue);
    transition: .4s;
}

nav a:active {
    transition: .1s;
    color: var(--color-click-navbar_links);
}

nav p {
    color: var(--white-color);
}

[class*="nav_reveal"] {
    opacity: 0;
    transform: translateY(-50px);
}

.nav_reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
}

.nav_reveal1 {
    transition-delay: .9s;
}

.nav_reveal2 {
    transition-delay: .7s;
}

.nav_reveal3 {
    transition-delay: .5s;
}

.nav_reveal4 {
    transition-delay: .3s;
}

.nav_reveal5 {
    transition-delay: .1s;
}

/* Animation pour l'effet de fondu */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width:1150px) {

    .menu-burger,
    .menu-burger-close {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: rgb(31, 23, 70);
        width: 100%;
        height: 100vh;
        margin-left: 200%;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.open-menu {
        margin-left: 0;
    }

    .nav-links a {
        font-size: 25px;
    }

}