nav {
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    z-index: 10;
    pointer-events: none;
    transition: all 0.3s ease;
}

nav.notOnTop {
    background-color: rgba(23, 17, 54, 0.9);
    backdrop-filter: blur(10px);
}

nav a {
    color: var(--white-color);
    font-size: 20px;
    pointer-events: all;
}

nav .logo {
    font-size: 2em;
    font-weight: bold;
}

nav .nav-links ul {
    display: flex;
}

nav .nav-links ul li {
    margin: 0 30px;
}

nav .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}

nav .menu-burger,
.menu-burger-close,
.menu-overlay,
.menu-overlay2 {
    display: none;
    width: 35px;
}

nav a:link {
    color: var(--white-color);
    transition: .4s;
}

nav a:hover {
    color: var(--link-color-backBlue);
    transition: .4s;
}

nav a:active {
    opacity: 0.6;
}

nav p {
    color: var(--white-color);
}

[class*="nav_reveal"] {
    opacity: 0;
    transform: translateY(-50px);
}

.nav_reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
}

.nav_reveal1 {
    transition-delay: .9s;
}

.nav_reveal2 {
    transition-delay: .7s;
}

.nav_reveal3 {
    transition-delay: .5s;
}

.nav_reveal4 {
    transition-delay: .3s;
}

.nav_reveal5 {
    transition-delay: .1s;
}

/* Animation pour l'effet de fondu */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width:1220px) {

    nav .menu-burger {
        display: block;
        width: 30px;
        height: 30px;
        pointer-events: all;
        cursor: pointer;
    }

    .menu-burger-close {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 40px;
        right: 50px;
        z-index: 9999;
    }

    .menu-overlay,
    .menu-overlay2 {
        position: absolute;
        top: 26px;
        right: 40px;
        background-color: rgba(255, 255, 255, 0.23);
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .menu-overlay_display,
    .menu-overlay2_display {
        display: block;
        animation: fadeIn 0.3s ease;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(31, 23, 70);
        width: 100%;
        height: 100vh;
        padding-bottom: 200em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200%;
        transition: all 0.5s ease;
        z-index: 9998;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .nav-links ul li {
        margin: 25px 0;
        font-size: 1.5em;
    }

    nav .logo {
        font-size: 1.5em;
    }

    .logo:visited {
        color: var(--white-color);
    }

    .logo:active {
        color: var(--white-color);
    }

    .logo:link {
        color: var(--white-color);
    }

}