nav {
    position: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 3;
    transition: all 0.3s ease;
}

nav a {
    color: var(--white-color);
    font-size: 20px;
    pointer-events: all;
    padding-top: 4px;
}

nav img {
    pointer-events: all;
}

nav.notOnTop {
    background-color: rgb(23 17 54 / 93%);
    backdrop-filter: blur(10px);
    box-shadow: 0px 11px 18px rgb(28 28 51 / 41%);
}

.link-contact {
    color: var(--link-color-backBlue);
    border: 2px solid var(--link-color-backBlue);
    border-radius: 20px;
    position: relative;
    padding: 10px 15px 5px 15px;
    overflow: hidden;
}
  
.link-contact:before,
.link-contact:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(131, 253, 245, 0.253);
    transform: translate3D(0,-100%,0);
    transition: all .5s;
}
  
.link-contact:before {
    background: transparent;
    transform: translate3D(0,0,0);
}

.link-contact:after {
    top: 0;
    transform: translate3D(-101%,0,0);
}
  
.link-contact:hover {
    color: white;
}
  
.link-contact:hover:after {
    transform: translate3D(0,0,0);
    transition: all .5s;
}

.logo {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.637));
    transition: all 0.3s ease-in-out;
    margin-top: 7px;
}

.logo:hover {
    filter: drop-shadow(0 0 20px var(--link-color-backBlue));
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-burger,
.menu-burger-close {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.menu-burger:active,
.menu-burger-close:active {
    transform: scale(1.2);
}

.menu-burger-close {
    position: absolute;
    top: 35px;
    right: 50px;
}

nav a:link {
    color: var(--white-color);
    transition: .4s;
}

nav a:hover {
    color: var(--link-color-backBlue);
    transition: .4s;
}

nav a:active {
    transition: .1s;
    opacity: 0.6;
}

[class*="nav_reveal"] {
    opacity: 0;
    transform: translateY(-50px);
}

.nav_reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
}

.nav_reveal1 {
    transition-delay: .9s !important;
}

.nav_reveal2 {
    transition-delay: .7s !important;
}

.nav_reveal3 {
    transition-delay: .5s !important;
}

.nav_reveal4 {
    transition-delay: .3s !important;
}

.nav_reveal5 {
    transition-delay: .1s !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width:1150px) {

    .menu-burger,
    .menu-burger-close {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: rgb(31, 23, 70);
        width: 100%;
        height: 100vh;
        margin-left: 200%;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.open-menu {
        margin-left: 0;
    }

    .nav-links a {
        font-size: 30px;
    }

    .link-contact {
        border: none;
        color: white;
    }

    .link-contact:hover {
        color: var(--link-color-backBlue);
    }

    .link-contact:hover:after {
        transform: none;
    }

}
