/*###############################*/
/*          Les projets          */
/*###############################*/

.titre-projets {
    font-size: 3vw;
    text-align: center;
    padding-top: 16vh;
    background-color: rgb(23, 17, 54);
    color: white;
}

.section-projets {
    background-color: rgb(23, 17, 54);;
}