/*###############################*/
/*          Les projets          */
/*###############################*/

.titre-projets {
    font-size: 3vw;
    text-align: center;
    padding-top: 16vh;
    background-color: rgb(23, 17, 54);
    color: white;
}

.section-projets {
    background-color: rgb(23, 17, 54);
    display: flex;
    flex-direction: column;
}

.p-titre {
    font-size: 2em;
}

.projet {
    background-color:rgb(88, 163, 190);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em 15vw 2em 15vw;
    padding: 1em 1em;
    min-height: 20em;
    max-height: 20em;
}

.p-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
}

.p-pitch {
    text-align: center;
    padding: 0 2em 0 2em;
}

.video-si, .video-yams {
    padding-right: 1em;
    border-radius: 20px;
}

.video-kf {
    padding-left: 1em;
    border-radius: 20px;
}

.img-laby, .logo-github {
    padding: 1em;
}

.logo-github:hover {
    filter: invert(80%);
}