#competences {
    background-color: var(--pink-background);
    padding-bottom: 3em;
}

.titre-skills {
    background-color: var(--pink-background);
    color: var(--black-color);
}

.software,
.front,
.back {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
    margin: 3em 10%;
    padding: 20px;
    background-color: rgb(203, 184, 218);
    box-shadow: 0 0 0.6em var(--blue-background);
    border-radius: 20px;
}

.zoom {
    text-align: center;
}

.image {
    display: flex;
    flex-direction: column;
}

.image img {
    transition: all 0.5s ease;
}

.image:hover img {
    scale: 1.15;
}

.types_langages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--pink-background);
    box-shadow: 0 0 0.5em rgb(51, 51, 53);
    border-radius: 20px;
    margin: 0 10%;
    padding: 20px;
}

.types_langages > h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    transition: .4s;
    border-radius: 20px;
}

.types_langages > h3:hover {
    background-color: rgb(198, 182, 211);
}

.type_selectionne {
    background-color: var(--blue-background);
    color: var(--white-color);
}

.type_selectionne:hover {
    background-color: var(--blue-background);
    color: var(--white-color);
}

.type_non_selectionne {
    display: none;
}

.apparition {
    opacity: 0;
    transform: translateY(-10px);
}

.apparition-visible {
    opacity: 1;
    transform: translateY(0);
    transition: .6s;
    width: 100px;
}

.titre_types {
    display: none;
}

@media screen and (max-width:1100px) {

    #competences {
        width: 100vw;
    }

}

@media screen and (max-width:900px) {

    .types_langages {
        display: none;
    }

    .titre-skills {
        font-size: 2.5em;
    }

    .titre_types {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: rgb(37, 27, 87);
        font-weight: 900;
    }

    .software,
    .front,
    .back {
        display: grid;
        margin-top: 1em;
    }
}