/*#########################*/
/*     Corps de la page    */
/*#########################*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins';
    min-width: 670px;
}