/*#########################*/
/*     Corps de la page    */
/*#########################*/

html {
    scroll-behavior: smooth;
}

body {
    color: #fefefe; 
    background-color: #1c1c1e;
}

/*#########################*/
/*        Les titres       */
/*#########################*/

h1, h2, h3 {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Potta One', cursive;
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-indent: 5%;
    font-size: 40px;
}

h3 {
    font-size:30px;
}

/*#########################*/
/*       Les images        */
/*#########################*/

#myself img, #contact img{
    border-radius: 300px;
}