#welcome {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background : radial-gradient(ellipse at bottom, var(--color-background-welcome) 0%, var(--blue-background) 100%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0px 200px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 30%;
    pointer-events: none;
}

.welcome {
    font-size: 1.2em;
    padding-bottom: 0.5em;
    color: var(--welcome-color1);
    pointer-events: all;
}

.name {
    font-size: clamp(40px, 8vw, 60px);
    color: var(--white-color);
    font-weight: 700;
    pointer-events: all;
}

.status {
    font-size: clamp(40px, 8vw, 50px);
    padding-bottom: 0.3em;
    color: var(--welcome-color2);
    pointer-events: all;
}

.pitch {
    font-size: 1.1em;
    color: var(--welcome-color3);
    white-space: normal;
    pointer-events: all;
    margin-right: 50%;
}

.btn-welcome {
    font-family: "calibre_medium";
    margin-top: 20px;
    padding: 14px 10px 10px 10px;
    width: 200px;
    color: var(--link-color-backBlue);
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    border: 2px solid var(--link-color-backBlue);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    pointer-events: all;
}

.btn-welcome:hover {
    color: var(--white-color);
    background-color: rgba(131, 253, 245, 0.173);
    text-decoration: none;
}

.iut-site:link {
    display: inline-block;
    color: var(--link-color-backBlue);
}

.iut-site::after {
    content: '';
    width: 0px;
    height: 1px;
    margin-top: -4px;
    display: block;
    background: var(--link-color-backBlue);
    transition: .5s;
}

.iut-site:hover::after {
    width: 100%;
}

.iut-site:visited {
    color: var(--link-color-backBlue);
}

.cercle {
    position: absolute;
    top: 70vh;
    left: 45vw;
    height: 200px;
    width: 200px;
    background-color: var(--link-color-backBlue);
    border-radius: 50%;
    filter: blur(220px);
}

/*===================================================*/
/*============    Responsive Design     =============*/
/*===================================================*/

@media screen and (max-width:1024px) {

    #welcome {
        width: 100vw;
    }

    .welcome {
        font-size: 1em;
        width: 80vw;
    }

    .name {
        font-size: 3em;
    }

    .status {
        font-size: 2.8em;
        width: 80vw;
    }

    .pitch {
        font-size: 1em;
        width: 70vw;
    }

    .btn-welcome {
        font-size: 1em;
    }
}

@media screen and (max-width:730px) {
    .name {
        font-size: 2.5em;
    }

    .status {
        font-size: 1.8em;
    }
}

@media screen and (max-width:600px) {
    .content {
        top: 25%;
    }
}

@media screen and (max-width:500px) {
    .content {
        top: 20%;
    }

    .name {
        font-size: 2.2em;
    }
}

@media screen and (max-width:380px) {
    .name {
        font-size: 1.9em;
    }

    .status {
        font-size: 1.6em;
    }
}